@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
:root {
	--white_color: #fff;
	--btn_color: #ff6600;
	--black_color: #000000;
	--title_color: #8a898e;
	--main-font: "Poppins", sans-serif;
	--second-font: "Abel", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li,
a {
	padding: 0;
	margin: o;
	text-decoration: none;
	list-style: none;
}

.custom_btn {
	padding: 10px 35px;
	background-color: var(--btn_color);
	color: var(--white_color);
	border-radius: 10px;
	display: inline-block;
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 28.5px;
}

/* Navigation menu style  */
.active-menu {
	font-family: var(--second-font);
	font-weight: 400;
	font-size: 18px;
	line-height: 28.5px;
	letter-spacing: 0%;
	color: var(--black_color);
}

nav {
	padding: 20px 0px !important;
	background-color: #8a898e;
	ul {
		li {
			font-weight: 500;
			font-size: 18px;
			line-height: 28.5px;
			padding-left: 35px;
			color: var(--black_color);
			a {
				font-family: Poppins;
			}
			.custom_btn {
				color: var(--white_color) !important;
			}
			@media screen and (max-width: 1024px) {
				padding-left: 0px;
				margin-top: 10px;
				font-size: 15px;
				padding-left: 25px;
			}
		}
	}
}
/* Hero Section  */

.hero {
	padding: 150px 0px;
	.hero_content {
		h1 {
			font-family: var(--main-font);
			font-weight: 900;
			font-size: 70px;
			line-height: 81px;
			max-width: 650px;
			@media screen and (max-width: 1024px) {
				font-size: 50px;
				max-width: 500px;
				line-height: 60px;
			}
		}
		p {
			font-family: var(--main-font);
			font-weight: 500;
			font-size: 22px;
			line-height: 28px;
			max-width: 555px;
			@media screen and (max-width: 1024px) {
				font-size: 18px;
				max-width: 400px;
			}
		}
		.hero_btn {
			align-items: center;
			.learn-more-btn {
				position: relative;
				display: flex;
				align-items: center;
				gap: 12px;
				text-decoration: none;
				color: #333;
				font-family: var(--main-font);
				font-size: 18px;
				margin-left: 10px;

				&:hover {
					.progress {
						stroke-dashoffset: 0;
					}
				}

				.circle-wrapper {
					position: relative;
					max-width: 48px;
					height: 48px;

					.progress-circle {
						position: absolute;
						max-width: 100%;
						height: 100%;
						transform: rotate(-90deg);

						circle {
							fill: none;
							stroke-width: 3;
							stroke-linecap: round;
						}

						.bg {
							stroke: #e0e0e0;
						}

						.progress {
							stroke: #ff6b00;
							stroke-dasharray: 138;
							stroke-dashoffset: 138;
							transition: stroke-dashoffset 0.3s ease;
						}
					}
				}

				.play-icon {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 0 8px 12px;
					border-color: transparent transparent transparent #333;
				}
			}
		}
	}
}

/* Service Section   */
.service {
	padding: 100px 0;
	background-color: #f8f9fa;
	.section-title {
		text-align: center;
		margin-bottom: 50px;

		.service-title {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 14px;
			line-height: 28.5px;
			letter-spacing: 45%;
			text-align: center;
			color: var(--title_color);
			margin-bottom: 20px;
		}

		.service-heading {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 52px;
			line-height: 28.5px;
			text-align: center;
			padding-bottom: 40px;
			@media screen and (max-width: 425px) {
				font-size: 40px;
			}
		}
	}

	.service-card {
		background: white;
		border-radius: 15px;
		padding: 30px;
		text-align: center;
		transition: transform 0.3s ease;
		box-shadow: rgba(0, 0, 0, 0.02);
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		display: inline-block;

		&:hover {
			transform: translateY(-10px);
		}

		.service-icon {
			max-width: 80px;
			height: 80px;
			margin: 0 auto 20px;
		}

		h3 {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 36px;
			line-height: 28.5px;
			letter-spacing: 0px;
			text-align: center;
			margin-bottom: 20px;
			color: var(--black_color);
		}

		p {
			font-family: var(--main-font);
			font-weight: 400;
			max-width: 270px;
			font-size: 18px;
			line-height: 28.5px;
			text-align: center;
			color: var(--black_color);
			margin-bottom: 20px;
			@media screen and (max-max-max-max-width: 1024px) {
				font-size: 16px;
			}
		}
	}
}
/* Musk_section */
.musk_section {
	padding: 100px 0px;
	.musk_content {
		h2 {
			font-family: var(--main-font);
			font-weight: 500;
			font-size: 22px;
			line-height: 32px;
			color: #1e0e62;
			max-width: 300px;
			padding-bottom: 60px;
		}
		h3 {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			color: #15143966;
			max-width: 320px;
		}
		a {
			padding: 10px 35px;
			border: 2px solid #ebeaed;
			color: #1e0e62;
			font-family: var(--main-font);
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			border-radius: 100px;
			margin-top: 30px;
			display: inline-block;
		}
	}
}

/* Client section  */
.client_section {
	padding: 100px 0px;
	background-color: #f8f9fa;
	.client_header {
		align-items: center;
		margin-bottom: 100px;
		h2 {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 14px;
			line-height: 28.5px;
			letter-spacing: 45%;
			color: #8a898e;
			text-align: center;
			margin-bottom: 20px;
		}
		h1 {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 52px;
			line-height: 28.5px;
			text-align: center;
			color: #0b1b35;
			@media screen and (max-width: 425px) {
				font-size: 40px;
			}
		}
	}
	.client_card {
		display: flex;
		max-width: 470px;
		height: auto;
		padding: 35px 20px;
		.client_data {
			margin-left: 30px;
			p {
				font-family: var(--second-font);
				font-weight: 500;
				font-size: 18px;
				line-height: 28px;
				max-width: 300px;
			}
			span {
				font-family: var(--second-font);
				font-weight: 700;
				font-size: 14px;
				line-height: 26px;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: #8a898e;
			}
		}
	}
}
/* Team section  */
.team {
	padding: 100px 0px;
	.team_header {
		align-items: center;
		margin-bottom: 50px;
		h2 {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 14px;
			line-height: 28.5px;
			letter-spacing: 45%;
			color: #8a898e;
			text-align: center;
			margin-bottom: 20px;
		}
		h1 {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 52px;
			line-height: 28.5px;
			letter-spacing: 0%;
			text-align: center;
			color: #0b1b35;
		}
	}
	.team_member {
		padding: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 2px solid #ebeaed;
		.member_det {
			text-align: center;
			margin-top: 30px;
			h6 {
				font-family: var(--main-font);
				font-weight: 500;
				font-size: 22px;
				line-height: 32px;

				text-align: center;
				@media screen and (max-width: 1024px) {
					font-size: 18px;
					max-width: 400px;
				}
			}
			span {
				font-family: var(--main-font);
				font-weight: 700;
				font-size: 14px;
				line-height: 26px;
				letter-spacing: 2px;
				text-align: center;
				text-transform: uppercase;
				color: #8a898e;
			}
		}
	}
}
/* contact section */
.contact {
	padding: 100px 0px;
	background-color: #f8f9fa;
	.contact_header {
		align-items: center;
		margin-bottom: 100px;
		h2 {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 14px;
			line-height: 28.5px;
			letter-spacing: 45%;
			color: #8a898e;
			text-align: center;
			margin-bottom: 20px;
		}
		h1 {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 52px;
			line-height: 28.5px;
			letter-spacing: 0%;
			text-align: center;
			color: #0b1b35;
			@media screen and (max-width: 1024px) {
					font-size: 40px;
					max-width: 400px;
				}
		}
	}
	.contact-det {
		display: flex;
		flex-direction: column;
		p {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 18px;
			line-height: 28.5px;
			color: var(--black_color);
			max-width: 680px;
			margin-top: 25px;
			margin-bottom: 30px;
		}
		input {
			outline: none;
			border-image-source: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.18) -78.06%,
				rgba(0, 0, 0, 0) 236.73%
			);
			padding: 15px 140px 15px 70px;
			box-shadow: 0px 100px 80px 0px #00000012;
			border-width: 1px;
			border-radius: 49px;

			&::placeholder {
				color: var(--black_color);
				font-family: var(--second-font);
				font-weight: 400;
				font-size: 24px;
				line-height: 28.5px;
				text-align: center;
			}
		}
		a {
			font-family: var(--main-font);
			font-weight: 500;
			font-size: 18px;
			line-height: 28.5px;
		}
	}
}
.footer {
	padding: 30px 0px;

	.footer_left {
		display: flex;
		align-items: center;
		p {
			font-family: var(--second-font);
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			margin-left: 50px;
			color: #1e0e62;
			
		}
	}
	.footer_right {
		ul {
			display: flex;
			list-style: none;
			justify-content: space-between;
			li {
				font-family: var(--main-font);
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;

				a {
					color: #1e0e62;
				}
			}
		}
	}
}



